{{template "header" .}}
        <h3>{{.Url}}</h3>
        {{.T "areadyhozon"}}<br />
        {{range $i, $e := .Ext}}
        <a href="{{$e.Url}}">
          {{$e.Date}}
        </a>
        <br />
        {{end}}
        <p>
          {{.T "willreallyhozon"}}
        </p>
        <form action="/" method="post">
          <input type="hidden" name="hozonsite" value="{{.Url}}" />
          <input type="hidden" name="agree" value="1" />
          <div class="submit">
            <input type="submit" name="submit" value="{{.T "yesreallyhozon"}}" />
          </div>
        </form>
{{template "footer" .}}
